.input {
  color: white;
  border: none;
  border-bottom: 1px white solid;
  padding: 0.5rem 1rem;
  background-color: transparent;
  margin: 0.3rem;
  transition: border-color 0.3s ease-in-out;
  cursor: pointer;

  &:focus-visible {
    outline: none;
    border-color: green;
  }
  &.error {
    input {
      border-color: red;
    }
  }
}
