.input {
    display: grid;
    border: none;
    background-color:transparent;
    border-bottom: 1px solid #fff;
    padding: .5em 0;
}
.input::placeholder {
    color: #fff;
}
.input:focus-visible {
    outline: none;
    border-color: aquamarine;
}
.input:focus-visible::placeholder {
    color: transparent;
}
.input:first-of-type {
    grid-area: one;
}
.input:nth-of-type(2) {
    grid-area: two;
}
.input:nth-of-type(3) {
    grid-area: three;   
}
.input:nth-of-type(4) {
    grid-area: four;
}
.input:nth-of-type(5) {
    grid-area: five;
}
.input:nth-of-type(6) {
    grid-area: six;
}