@import '../../Styles/variables';
@import '../../Styles/mixins';

.navIcon {
    width: 2rem;
    height: 2rem;
    cursor: pointer;

    @include flexSpaceAround(column);

    &--menu {
        z-index: 100;
        height: 0.1rem;
        background-color: $clr-text;
    }
}