@import '../../../../Styles/variables';
@import '../../../../Styles/mixins';

.categories {
  width: 100vw;
  padding-inline-start: 1em;
  color: $clr-text;
  font-family: $font-family;


  & h3 {
    font-size: $fs-h3;
    font-weight: 600;
    text-align: left;
  }

  .category-list {
    max-width: 100%;
    @include flexCenter(row);
    justify-content: flex-start;
    overflow: scroll;
    gap: 1em;
    padding-block: 2em;
    
    .category {
      background-color: $background-color--popup;
      font-size: $fs-smaller;

      &__image {
        width: 85px;
        aspect-ratio: 1;
        @include bgImage;
      }
      & p {
        max-width: 100%;
        text-align: center;
        margin-top: 5px;
      }
    }
  }
}
