@import '../../../../Styles/variables';
@import '../../../../Styles/mixins';

.categories__list {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.categories__list::-webkit-scrollbar {
  display: none;
}
.categories {
  padding-inline-start: 1em;
  color: $clr-text;
  font-family: $font-family;


  & h3 {
    font-size: $fs-h3;
    font-weight: 600;
    text-align: left;
  }

  &__list {
    max-width: 100%;
    @include flexCenter(row);
    justify-content: flex-start;
    overflow-x: scroll;
    gap: 1em;
    padding-block: 1em;
    
    .category {
      font-size: $fs-smaller;

      &__image {
        width: 6rem;
        aspect-ratio: 1;
        @include bgImage;
        border-radius: 1em;
      }
      & p {
        max-width: 100%;
        text-align: center;
        margin-top: 5px;
      }
    }
  }
}
