@import "src/styles/_variables";
@import "src/styles/_mixins";

.pre-checkout.hidden {
  display: none;
}
.pre-checkout {
  background-color: black;
  z-index: 50;
  border-top: 2px solid white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  height: 70%;
}

.pre-checkout__items {
  @include gridColumns(repeat(3, 1fr));
  gap: 1em;
  padding-block: 1.5em;
  max-width: 80%;
  margin-inline: auto;

  .changes {
    grid-column: span 3;
  }
}

.pre-checkout__items:not(:last-of-type) {
  border-bottom: 1px solid white;
}

.pre-checkout__btns {
  @include flexCenter(column);
  gap: 2em;
  button {
    min-width: 20rem;
  }
  span {
    color: black;
  }
}

.pre-checkout__top {
  @include gridCenter();
  gap: 2em;
  padding-block: 2em;
  h2 {
    font-size: $fs-h1;
  }
}

.pre-checkout__infowrapper {
  margin: 1.5rem;
  display: flex;
  justify-content: space-around;
}

@media screen and (min-width: 55em) {
  .pre-checkout {
    display: flex;
    justify-content: space-between;
    padding: 4rem 5rem 2rem;
    position: absolute;
    bottom: 0;
    width: 100vw;
    max-height: 35vh;
  }
  .pre-checkout__items-wrapper {
    overflow: scroll;
  }

  .pre-checkout__top {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .pre-checkout__items {
    justify-content: space-between;
    min-width: 15rem;
  }
}
