
@import '../../Styles/variables';
@import '../../Styles/mixins';

.btn {
  @include button-styles;
  transition: all .5s ease;
}
.btn.out {
  opacity: .5;
  pointer-events: none;
}
.button--primary {
    background-color: $clr-btn__primary;
  
    &:hover {
      background-color: $clr-btn__white;
      color: $clr-btn__primary;
    }
  }
  
  .button--secondary {
    background-color: $clr-btn__white;
    color: black;
  
    &:hover {
      background-color: black;
      color: $clr-btn__white;
    }
  }
  
  .button--third {
    background-color: $clr-btn__red;
    color: $clr-btn__white;
  
    &:hover {
      background-color: $clr-btn__white;
      color: $clr-btn__red;
    }
  }

  .button--add {
    background-color: $clr-btn__add;
    color: black;

    &:hover {
      background-color: $clr-btn__white;
      color: $clr-btn__add;
    }
  }

  .button--cart {
    background: $clr-btn__primary;
    position: sticky;
    bottom: 10%;
    margin: 0 auto;
  
    &:hover {
      background-color: $clr-btn__white;
      color: $clr-btn__primary;
    }
  }
  @media screen and (min-width: 600px) {
    .button--cart {
      background: $clr-btn__primary;
      position: absolute;
      bottom: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }