@import './src/Styles/variables';
@import './src/Styles/mixins';

.signup {
    @include overlay-style;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    z-index: 600;
    svg {
        @include close-btn-position
    }

    &--form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &--errors {
        color: $clr-btn__red;
        font-size: 0.8rem;
    }

    &--heading {
        padding: 1rem;
        font-size: 1.5rem;
        margin: 1rem;
    }

    &--input-text {
        color: $clr-text;
        border: none;
        border-bottom: 1px white solid;
        padding: 0.5rem 1rem;
        background-color: transparent;
        margin: 0.3rem;

        &:focus-visible {
            outline: none;
            border-color: green;
          }
    }

    &--input-checkbox {
        margin: 0 0.5rem 0 0.5rem;
        line-height: 1.5rem;
    }
 
    &--input-container {
        text-align: center;
        margin: 1rem;
        padding: 0.5rem;
        line-height: 1.5rem
    }
    
    &--btn {
        display: flex;
        justify-content: center;
        margin: 1rem;
    }

    &--submitted {
        color: $clr-text__green;
        font-size: 1.5rem;
        &--red {
            color: $clr-btn__red
        }
    }
}

@media screen and (min-width: 600px) {
    .signup {
        background-color: $background-color--card;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 1px solid white;
        border-radius: 20px;
        z-index: 1;
        svg {
            @include close-btn-position;
            font-size: 2rem;
        }
    }
  }
