@import "../../Styles/variables";
@import "../../Styles/mixins";

.signup {
  @include overlay-style;
  @include flexEvenly(column);
  justify-content: flex-start;
  gap: 4em;
  padding-block: 4em;
  svg {
    @include close-btn-position;
    cursor: pointer;
  }
  &--heading {
    font-size: $fs-h1;
  }
  &--form {
    @include flexCenter(column);
    gap: 3em;
    &--inputs {
      padding-inline: 1em;
      @include gridColumns(repeat(2, 1fr));
      gap: 1em;
      input {
        margin: 0;
        padding: 0.5rem 0;
      }
    }
  }

  &--errors {
    color: $clr-btn__red;
    font-size: 0.8rem;
  }

  &--input-text {
    color: $clr-text;
    border: none;
    border-bottom: 1px white solid;
    padding: 0.5rem 1rem;
    background-color: transparent;

    &:focus-visible {
      outline: none;
      border-color: green;
    }
  }

  &--input-container {
    padding: 1rem 4rem;
    @include flexStart(column);
    gap: 1em;
    cursor: pointer;

  }
  &--btn {
    display: flex;
    justify-content: center;
    margin: 1rem;
  }

  &--submitted {
    color: $clr-text__green;
    font-size: 1.5rem;
    &--red {
      color: $clr-btn__red;
    }
  }
}
.signup--input-checkbox-container {
  display: flex;
  gap: 1em;
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  .signup {
    background-color: $background-color--card;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid white;
    border-radius: 20px;
    min-height: unset;
    z-index: 1;
    justify-content: center;
    &--form--inputs {
      padding: 0;
    }
  }
}
