@import "../../Styles/variables";
@import "../../Styles/mixins";

.popup:has(.editCard) svg {
  left: unset;
  top: .5rem;
  right: .5rem;
}
.editCard {
  color: white;
  max-height: 15em;
  overflow: auto;
  width: 100%;
  min-width: 240px;

  ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: .4em;

    li {
      list-style: none;
    }
  }

  &__ingredient {
    margin-left: 0.4rem;
  }
  &__input {
    color: white;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid #fff;
    padding: 0.2em 0;
  }
}