@import "../../Styles/variables";
@import "../../Styles/mixins";

.editCard {
  color: white;
  max-height: 15rem;
  display: grid;
  text-align: start;
  overflow: auto;
  width: 100%;
  min-width: 240px;

  ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    li {
      list-style: none;
    }
  }
}

.editCard::-webkit-scrollbar {
  width: 0.4rem;
}

.editCard::-webkit-scrollbar-thumb {
  background-color: white;
}

.editCard::-webkit-scrollbar-thumb:hover {
  background-color: #999999;
}

.editCard::-webkit-scrollbar-track {
  border: 1px solid white;
}

.editCard__ingredient {
  margin: 0.4rem;
}

.editCard__input {
  color: white;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #fff;
  padding: 0.2em 0;
}
