@import '../../Styles/variables';
@import '../../Styles/mixins';

.footer--desktop {
    display: none;

    &--copyright {
        display: none;
    }
}

@media screen and (min-width: 800px) {
    .footer--mobile {
        display: none;
    }

    .footer--desktop {
        display: grid;
        margin-top: auto;
        border-top: 1px solid white;
        color: $clr-text;
        &--top {
            @include flexSpaceAround(row);
            align-items: center;
            &--hours {
                display: flex;
                flex-direction: column;
                gap: 0.5rem
            }
    
            &--heading {
                text-align: center;
                margin: 0.5rem;
            }
    
            &--lists {
                @include flexCenter(row);
                gap: 1rem;
            }
    
            &--interest ul li {
                list-style-type: none;
            }
    
            &--social {
                font-size: 2rem;
                display: flex;
                gap: 1rem;
            }
        }


        &--copyright {
            display: flex;
            align-items: center;
            justify-content: end;
            gap: 1rem;
            color: $clr-text;
            text-align: end;
            margin: 1rem;
        }
    }
}