@import "../../Styles/variables";
@import "../../Styles/mixins";

.cart {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: black;
  z-index: 100000;
  @include gridCenter;
  align-content: space-between;
  text-align: center;
  padding-block: 2em;

  &__actions {
    display: grid;
    gap: 1em;

    button {
      margin: auto;
    }
  }

  h1 {
    font-size: $fs-h1;
  }
}
@media screen and (min-width: 800px) {
  .cart {
    background: $bg-main-reverse;
    gap: 1em;
    min-height: unset;
    height: 35vh;
    top: unset;
    bottom: 0%;

    &__products {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1em;
      padding-inline: 2em;
      overflow-y: scroll;
      max-height: 105px;
    }

    &__actions {
      grid-template-columns: repeat(2, 1fr);
      max-width: 50%;
      margin-inline: auto;

      button {
        font-size: 1.2rem;
      }
    }
  }
}
