@import '../../Styles/variables';
@import '../../Styles/mixins';

.hours-wrapper {
    position: sticky;
    bottom: 0;
    border-radius: 40px 40px 0 0;
    overflow: hidden;
}
.hours {
    background-color: black;
    @include flexSpaceAround(column);
   
    
    &--ul {
        list-style-type: none;
        text-align: center;
        padding-bottom: 1em;
    }
}
    p {
        text-align: center;
    }