@import './src/Styles/variables';
@import './src/Styles/mixins';

.hoursIcon {
    background-color: $background-color--popup;
    color: $clr-text;
    padding: 1rem 2rem;
    font-family: $font-family;
    @include flexCenter(row);
    gap: 1rem;

}