@import "../../../Styles/mixins";
@import "../../../Styles/variables";

.reservations {
  
  & * {
    color: #007d7d;
    text-align: center;
  }
  &__tabs {
    @include flexSpaceBetween(row);

    p {
      padding: 1rem 3rem;
      border-radius: 20px 20px 0 0;
      background-color: transparent;
      cursor: pointer;

    }
    p:not(.active) {
      color: white;
    }
    p.active {
      background-color: white;
    }
  }
  &__cards {
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1em;
  }
}
