@import '../../Styles/variables'; 

.reservation {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 80%;
  margin: auto;
  color: $clr-text;
  min-height: 100vh;
  justify-content: space-between;
  text-align: center;
  img {
    max-width: 12.8125rem;
    margin: 2rem auto;
  }
  form {
    margin: 3rem 0
  }}

.reservation__nrOfGuests {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem
}

.reservation div {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000000;
  font-weight: 600;
  font-size: 2.25rem;
}

.circles {
  display: flex;
}
.circle--large {
  width: 6.25rem;
  height: 6.25rem;
  background-color: #D9D9D9;
}

.circle--small {
  width: 2.5rem;
  height: 2.5rem;
  background-color: #006767;
  margin: -1rem 1rem
}
.popup {
  position: absolute;
  left: 5%;
  right: 5%;
  top: 25%;
  min-height: 31.25rem;
  background-color: $background-color--popup;
  color: $clr-text;
  font-family: $font-family;
  padding: 2rem;
  border-radius: 20px;
  & :not(svg) {
    text-align: center;
  }
  h3 {
    font-size: 1.25rem;
    margin: 2rem
  }
  div {
    display: flex;
    max-width: 31.25rem;
    margin: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    button {
      margin: .5rem
    }
  }

}