@import "../../Styles/variables";
@import "../../Styles/mixins";

.reservation {
  @include overlay-style;
  @include gridCenter;
  justify-items: center;
  gap: 1em;
  text-align: center;
  padding: 1rem;
  

  svg {
    @include close-btn-position;
  }

  p {
    padding-inline: 2em;
  }

  &__nrOfGuests {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;

    div {
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #000000;
      font-weight: 600;
      font-size: 2.25rem;
    }

    .circle--large {
      width: 6.25rem;
      height: 6.25rem;
      background-color: #d9d9d9;
    }

    .circles {
      display: flex;

      &--small {
        width: 2.5rem;
        height: 2.5rem;
        background-color: #006767;
        margin: -1rem 1rem;
      }
    }
  }
}

.popup {
  @include popup-style;
}

.reservation:has(.popup)>*:not(.popup) {
  pointer-events: none;
  opacity: .5;
}

.react-calendar {
  background-color: $background-color--popup !important;

  // &__month-view__days__day:hover {
  //   background-color: $background-color--card !important;
  // }
  &__navigation__arrow:hover,
  &__navigation__label:hover {
    background-color: $background-color--card !important;
  }

  &__tile {
    &--now {
      background-color: $background-color--main !important;
    }

    &--active {
      background-color: $clr-text__green !important;
    }
    &--hasActive {
      background-color: transparent !important;
    }
  }
}

.react-calendar__navigation button:disabled {
  background-color: transparent !important;
}