@import "src/styles/_variables";
@import "src/styles/_mixins";

.checkout-confirmation {
  text-align: center;
  min-height: 100wh;
}

.checkout-confirmation h2 {
  font-size: $fs-h1;
  margin-top: 3rem;
}

.checkout-confirmation p {
  margin: 2.5rem 5rem 3.5rem 5rem;
}

.checkout-confirmation__timeline {
  list-style: none;
}

.checkout-confirmation__timeline-item {
  position: relative;
}

.checkout-confirmation__timeline-content {
  border: 1px solid white;
  position: relative;
  padding: 1.5rem;
  min-height: 5.1rem;
  border-radius: 4px;
  margin-right: 3rem;
  margin-left: 7.5rem;
  margin-top: 1.2rem;
  font-size: $fs-smaller;
}

.checkout-confirmation__timeline-content::after {
  content: ""; 
  position: absolute;
  width: 1.2rem;
  height: 1.2rem;
  left: -5.15rem;
  background-color: black;
  border: 2px solid white;
  border-radius: 50%;
}

.checkout-confirmation__timeline-content::before {
    content: "";
    position: absolute;
    left: -4.6rem;
    top: 0;
    height: 125%;
    width: 2px;
    border-left: 2px dotted white;
}

.checkout-confirmation__close {
    position: absolute;
    top: 0.7rem;
    right: 0.7rem;
}




  