@import "../../Styles/variables";
@import "../../Styles/mixins";

.product-info {
  display: grid;
  gap: 1em;
  background-color: $background-color--card;
  color: $clr-text;
  padding: 1em;
  border-radius: 1rem;
  text-align: center;
  position: relative;

  &__image {
    height: 170px;
    width: 70%;
    margin: 0 auto;
    @include bgImage;
    border-radius: 1rem;
  }

  & > svg {
    position: absolute;
    top: 0.625em;
    right: 0.625em;
  }
  &__info {
    padding-bottom: 3em;
    & > ul {
      @include flexEvenly(row);
      gap: 1em;
      list-style: none;
      font-size: $fs-smaller;
      padding-inline: 1rem;
    }
    & > p {
      padding: 1rem 2rem;
      font-size: $fs-smaller;
    }
  }

  &__price {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
  }
  .btn {
    font-size: $fs-smaller;
    padding: 0.5em 1em;
    position: absolute;
    right: 1rem;
    bottom: 1rem;
  }
}
.info-btn {
  font-size: 1.5rem;
}

@media  screen and (min-width: 800px){
  .product-info {
    min-width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: $background-color--popup;
    border: 1px white solid;
    transition-delay: 2s;
  }


}
