@import "../../../Styles/mixins";
@import "../../../Styles/variables";

.orders {

  h1 {
    text-align: center;
    padding: 2rem;
    font-size: $fs-h2;
    font-weight: 700;
  }
  .order-history__tabs {
    p:not(.active) {
      color: white;
    }
    p.active {
      background-color: #fff;
      color: $clr-text__staff;
    }
  }
  .order-history__orders {
    background-color: #fff;
    min-height: 100vh;
  }
  .order-history__card {
    padding-top: 3rem;
    background: rgba(217, 217, 217, 0.50);
    position: relative;
    height: unset;
    & * {
      color: $clr-text__staff !important;
    }
    @include flexSpaceBetween(row);
    svg {
      @include close-btn-position;
      width: 1rem;
      height: 1rem;
    }
    svg:nth-of-type(2) {
      left: unset;
      right: 1rem;
    }
    p.red {
      color: red;
    }
    p {
      text-align: left;
      line-height: 1.5;
      font-size: $fs-smaller;
    }
    hr {
      opacity: .5;
      margin: .5rem 0
    }
    div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 100%;
      button {
        font-size: .75rem;
        border-radius: 5px;
        font-weight: 700;
      }
      .button--third {
        color: white
      }
    }
    .popup--staff {
      background-color: white;
    }
  }
}