.hours-wrapper__staff {
  * {
    color: #007d7d;
  }

  .hours--lists {
    padding: 2rem;
  }

  p {
    padding-inline: 2rem;
  }
  button {
    margin: auto;
    margin-top: 2rem;
    color: white;
  }

  input {
    color: #007d7d;
    border-bottom: 1px #007d7d solid;
    padding: 0;
    margin: 0;
  }

  textarea {
    color-scheme: light;
    min-width: 80%;
    padding: 1rem;
    text-align: center;
  }
  
}
