@import './src/Styles/variables';
@import './src/Styles/mixins';

.login {
    font-family: $font-family;
    color: $clr-text;

    @include flexCenter(column);

    &--heading {
        font-size: 1.5rem;
    }

    &--input {
        border: none;
        border-bottom: 1px white solid;
        margin: 0.5rem;
        padding: 0.5rem 1rem;
        background-color: transparent;
    }

    &--btns {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 5rem;
    }

    &--btn {
        height: 38px;
        width: 185px;
        background-color: $background-color--main;
        @include button-styles();
        @include flexCenter(column);
        font-size: 1rem;
        margin-top: 2rem;
    }

    &--paragraph {
        color: $clr-text__red;
        margin: 1rem;
    }
}

