@import '../../Styles/variables';
@import '../../Styles/mixins';

.login {
    @include overlay-style;
    width: 100%;
    min-height: 100vh;
    font-family: $font-family;
    @include flexCenter(column);

    &--heading {
        font-size: 1.5rem;
    }

    &--input {
        border: none;
        border-bottom: 1px white solid;
        margin: 0.5rem;
        padding: 0.5rem 1rem;
        background-color: transparent;
        cursor: pointer;
        &:focus-visible {
            outline: none;
            border-color: green;
          }
    }

    &--btns {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 5rem;
    }

    &--btn {
        height: 38px;
        width: 185px;
        background-color: $background-color--main;
        @include button-styles();
        @include flexCenter(column);
        font-size: 1rem;
        margin-top: 2rem;
    }

    &--paragraph {
        color: $clr-text__red;
        margin: 1rem;
        cursor: pointer;

    }
    & > p {
        cursor: pointer;
    }
}


@media screen and (min-width: 800px) {
    .login {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-height: unset;
        border: 1px solid white;
        border-radius: 20px;
        height: 400px;
        width: 500px;
        z-index: 1;
    }
  }
