@import './src/Styles/variables';
@import './src/Styles/mixins';

.login {
    height: 100vh;
    font-family: $font-family;
    color: $clr-text;

    @include flexCenter(column);

    &--input {
        border: none;
        border-bottom: 1px white solid;
        margin: 0.5rem;
        padding: 0.5rem 1rem;
        background-color: transparent;
    }


    &--btn {
        background-color: $background-color--main;
        height: 38px;
        width: 185px;
        @include button-styles();
        @include flexCenter(column);
        font-size: 1rem;

    }

    &--paragraph {
        color: $clr-text__red;
    }
}

