$background-color--main: hsl(180, 100%, 20%);
$background-color--popup: hsl(0, 100%, 0%);

$clr-text: hsl(0, 0%, 100%);
$clr-text__green: hsl(140, 100%, 50%);
$clr-text__red: hsl(1, 80%, 68%);
$clr-text__staff: hsl(180, 100%, 25%);
$clr-btn__primary: hsla(180, 100%, 25%, 0.65);
$clr-btn__white: hsl(0, 0%, 100%);
$clr-btn__red: hsl(0, 100%, 50%);
$clr-btn__add: hsl(158, 69%, 62%);

$font-family: "Quicksand", sans-serif;

$border-radius: 1.25rem;

$fs-h1: 2.25rem;
$fs-h2: 1.5rem;
$fs-h3: 1.25rem;
$fs-normal: 1rem;
$fs-small: 0.875rem;
$fs-smaller: 0.8rem;