@import './variables'; 
@import './mixins';

* {
  font-family: $font-family;
}
body {
  @extend .background-color__black;
  margin: 0;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  background-color: black;
}

.background-color__black {
  background: linear-gradient(192deg, $background-color--main 0%, #000 41.22%);
  background-repeat: no-repeat;
}

.background-color__white {
  background: linear-gradient($background-color--main, white);
}

