@import "./variables";
@import "./mixins";

#root {
  height: 100vh;
  overflow: auto;
}

* {
  font-family: $font-family;
  color: $clr-text;
}
a {
  text-decoration: none;
  color: $clr-text;
}
p {
  font-size: $fs-small;
}
body {
  @extend .background-color__black;
  margin: 0;
  height: 100vh;
  box-sizing: border-box;
  position: relative;
  background-color: black;
}

.background-color__black {
  background: linear-gradient(192deg, $background-color--main 0%, #000 41.22%);
  background-repeat: no-repeat;
}
.bg__black-reverse {
  background: linear-gradient(192deg, black 50%, hsl(180, 100%, 20%) 100%);
  background-repeat: no-repeat;
}
.background-color__white {
  background: linear-gradient($background-color--main, white);
}

.popup {
  @include popup-new;
}

@media screen and (min-width: 55em) {
  .popup {
    width: 50%;
  }
  main {
    max-width: 85vw;
    margin: 0 auto;
  }
  .offers {
    justify-content: center;
  }
  .categories {
    @include gridCenter;
  }
}
