@import "../../../Styles/variables";
@import "../../../Styles/mixins";

.foodMenu.orders {
    .product__outOfOrder {
        color: red
    }
    .editFood * {
        color: white
    }
}

.foodMenu {
    &__products {
        display: grid;
        gap: 1em;
        padding: 1em;
        article {
            background-color: rgba(255, 255, 255, .2);
        }
    }
    .add-form {
        @include gridColumns(repeat(2, 1fr));
        * {
            margin: .5rem 0
        }
        section {
            border: 1px solid white;
            display: flex;
            flex-direction: column;
            padding: 1rem 2rem;
        }
        padding: 2rem;
        margin: auto;
        text-align: center;
        select, option, input, textarea {
            color: black;
            padding: .5rem
        }
        button {
            margin: auto;
            border: 1px solid white;
            grid-column: span 2;
        }
        .add-ingredients {
           
        button {
            font-size: 0.8em;
            padding: 0.5em 1em;
        }
        }
    }
}

.editFood {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    background-color: rgb(74, 38, 38);
    
    width: 20rem;
    border-radius: 10px;
    border: 1px solid white;
    background-color: $clr-btn__primary;
    
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: black;
        &-title {
            font-size: 1.2rem;
            font-weight: 500;
        }
        &-input {
            color: white;
            background-color: transparent;
            margin: 0.5rem;
            border: none;
            border-bottom: 1px solid white;

            &:focus-visible {
                outline: none;
                border-color: green;
              }

            &::placeholder {
                color: rgb(99, 95, 95);
            }
        }
        &-btn {           
            padding: 0.2rem 1rem; 
            margin: 0.5rem;
            border: none;
            color: rgb(255, 255, 255);
            background-color: $clr-btn__primary;
            border: 1px solid white;
        }
        &-close {
            cursor: pointer;
            padding: 0.5rem 0rem 0rem 0.5rem;
            font-size: 1.1rem;
        }
        &-msg {
            color: $clr-text__red;
            padding: 0.5rem
        }
    }
}

@media screen and (min-width: 800px) {
    .foodMenu {
        &__products {
            grid-template-columns: repeat(2, 1fr);
        }
        .product-info {
            background-color: #007d7d;
        }
    }
  }
